<%- include('partials/header') -%>

<main>
    <section class="banner-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="banner-text">
                        <h1>Smoothie Recipes</h1>
                        <p>By Tausif Ahmed</p>
                        <a href="/smoothies" class="btn btn-primary"
                            >View Recipes</a
                        >
                    </div>
                </div>
                <div class="col-lg-6">
                    <img
                        class="banner-thumbnail"
                        src="/images/juice.jpg"
                        alt="juice"
                    />
                </div>
            </div>
        </div>
    </section>
</main>

<%- include('partials/footer') -%>
